@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');



*{
    margin: 0%;
    padding: 0%;
    cursor: url("custom/cur.png/BlackCombo.png"), default;
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100F0F;
    height: 100vh;
    background: url(https://lolstatic-a.akamaihd.net/rso-login-page/3.2.32/assets/riot_desktop_background_2x.jpg);
    background-position: center;
    background-size: cover;
}

.containers::before{
    position: absolute;
    background-color: #000;
    height: 100vh;
    width: 100%;
    content: '';
    opacity: .7;
}
.welcome{
    font-size: 20px;
    background-color: #181818;
    line-height: 100px;
    color: #f1f1f1;
    width: 70%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 10px #000;
    position: relative;
}
.welcome h1,p{
    color: #BC8F8F;
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
    margin-left: 2.5vw;
}
.link{
    display: flex;
    justify-content: flex-end;
    
}
code{
    margin-left: 2.5vw;
}
a{
    color: #363636;
    background-color: #100F0F;
    padding: 10px 50px 10px;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Silkscreen', cursive;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 7px #000;
    margin-right: 2.5vw;
}
.mail{
    position: fixed;
    width: 400px;
    top: 80%;
}